extends ../base/layout

block variables
  - var title = "CV" //- на страницах кроме главной используйте О нас — ProjectName
  - var wrapperMods = ""
  - var hasHeader = true
  - var headerMods = ""
  - var hasFooter = false
  - var footerMods = ""
  - var currentPage = PageData.CV //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .container.container--cv
      +cv
