extends ../base/layout

block variables
  - var title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - var wrapperMods = ""
  - var hasHeader = true
  - var headerMods = ""
  - var hasFooter = false
  - var footerMods = ""
  - var currentPage = PageData.MAIN //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .container
      ul
        li
          a(href="cv.html") CV
        li
          a(href="cv-print.html" target="_blank") CV Print
