.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0;

  color: $color-default-white;
  background-color: $color-default-black;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: inherit;

    &--active {
      color: $color-orange-peel;
    }
  }

  //a,
  //p {
  //  color: $color-default-white;
  //}
}
