.rating {
  position: relative;
  width: 59px;
  height: 12px;
  font-size: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    //object-fit: cover;
  }

  &__empty {
    //background: url("../img/svg/no-rating-5.svg") no-repeat 0 50%;
  }

  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    overflow: hidden;

    //&::before {
    //  background: url("../img/svg/full-rating-5.svg") no-repeat 0 50%;
    //}
  }

  &__sub-fill {
    //background: url("../img/svg/full-rating-5.svg") no-repeat 0 50%;
  }

  &__empty ,
  &__sub-fill {
    //content: "";
    display: flex;
    width: calc(7px * 5 * 1.7);
    height: 100%;
    background-size: contain;
  }

  &--9 {
    width: calc(7px * 9 * 1.7);

    .rating__empty {
      //background: url("../img/svg/no-rating-9.svg") no-repeat 0 0;
    }

    .rating__sub-fill {
      //background: url("../img/svg/full-rating-9.svg") no-repeat 0 0;
    }

    .rating__empty,
    .rating__sub-fill {
      width: calc(7px * 9 * 1.7);
      background-size: 100% 100%;
    }
  }
}
