// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "RobotoSlab";

  font-display: swap;
  src:
    url("../fonts/roboto-slab-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "RobotoSlab";

  font-display: swap;
  src:
    url("../fonts/roboto-slab-v13-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "RobotoSlab";

  font-display: swap;
  src:
    url("../fonts/roboto-slab-v13-latin-600.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Krona One";

  font-display: swap;
  src:
    url("../fonts/krona-one-v9-latin-regular.woff2") format("woff2"),
    url("../fonts/krona-one-v9-latin-regular.woff") format("woff");
}
