include ../data/page-data
mixin header(headerMods, currentPage)
  -
    var headerLinks = [
      {
        href: PageData.CV,
        text: "CV",
      },
      {
        href: PageData.CV_PRINT,
        text: "CV-Print",
        isBlank: true,
      },
    ]

  header.header(class=headerMods)
    .header__wrapper.container
      - var isCurrentPageLink = currentPage === PageData.MAIN
      a.header__logo(class= isCurrentPageLink && 'header__logo--active', href= !isCurrentPageLink && PageData.MAIN,
        aria-label= !isCurrentPageLink && "Переход на главную")
        +icon("icon-home", 20, 20)
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in headerLinks
              li.main-nav__item
                -var isCurrentPageLink = currentPage === link.href
                a.main-nav__link(class= isCurrentPageLink && 'main-nav__link--active',
                  href= !isCurrentPageLink && link.href, target= link.isBlank && '_blank')=link.text
