-
  var rating = ['Beginner', 'Intermediate', 'Advanced', 'Expert']
  var skills = [
    {
      skill: 'JavaScript',
      rate: 3
    },
    {
      skill: 'HTML',
      rate: 3
    },
    {
      skill: 'Pug',
      rate: 3
    },
    {
      skill: 'CSS',
      rate: 3
    },
    {
      skill: 'SCSS',
      rate: 3
    },
    {
      skill: 'React',
      rate: 0
    },
    {
      skill: 'Redux',
      rate: 0
    },
    {
      skill: 'TypeScript',
      rate: 0
    },
    {
      skill: 'Jest',
      rate: 0
    },
    {
      skill: 'Enzyme',
      rate: 0
    },
    {
      skill: 'Service Workers',
      rate: 0
    },
    {
      skill: 'Webpack',
      rate: 1
    },
    {
      skill: 'Gulp',
      rate: 1
    },
    {
      skill: 'Git',
      rate: 1
    },
    {
      skill: 'NPM',
      rate: 1
    },
  ]
