-
  var skillRating = ['Beginner', 'Intermediate', 'Advanced', 'Expert']
  var skills = [
    {
      skill: 'JavaScript',
      rate: 4
    },
    {
      skill: 'HTML',
      rate: 4
    },
    {
      skill: 'Pug',
      rate: 4
    },
    {
      skill: 'CSS',
      rate: 4
    },
    {
      skill: 'SCSS',
      rate: 4
    },
    {
      skill: 'BEM',
      rate: 4
    },
    {
      skill: 'React',
      rate: 1
    },
    {
      skill: 'Redux',
      rate: 1
    },
    {
      skill: 'TypeScript',
      rate: 1
    },
    {
      skill: 'Jest',
      rate: 1
    },
    {
      skill: 'Enzyme',
      rate: 1
    },
    {
      skill: 'Service Workers',
      rate: 1
    },
    {
      skill: 'Webpack',
      rate: 2
    },
    {
      skill: 'Gulp',
      rate: 2
    },
    {
      skill: 'Git',
      rate: 2
    },
    {
      skill: 'NPM',
      rate: 2
    },
    {
      skill: 'BrowserStack',
      rate: 2
    },
    {
      skill: 'Figma',
      rate: 3
    },
    {
      skill: 'Photoshop',
      rate: 2
    },
    {
      skill: 'Xd',
      rate: 1
    },
    {
      skill: 'Illustrator',
      rate: 1
    },
    {
      skill: 'Avocode',
      rate: 2
    },
    {
      skill: 'Zeplin',
      rate: 2
    },
  ]
