include ../../data/cv
mixin cv
  aside.cv&attributes(attributes)
    .cv__header
      .cv__img
        +picture("content", "my-photo", "jpg", 122, 122, "Фото")
      .cv__header-content
        .cv__header-inner
          h1.cv__name Mykola Liemiekhov
          .cv__post Front End Developer
        .cv__header-inner.cv__header-inner--last
          .cv__header-inner-item
            a.cv__link.cv__link--phone(href='tel:+380636536097') +380636536097
              +icon("icon-phone", 12, 12).cv__link-icon
          .cv__header-inner-item
            a.cv__link.cv__link--email(href='mailto:nicklemster@gmail.com') nicklemster@gmail.com
              +icon("icon-email", 12, 12).cv__link-icon
          .cv__header-inner-item
            .cv__address Cherkasy, Ukraine
              +icon("icon-pin", 12, 12).cv__link-icon
          .cv__header-inner-item
            //-p LinkedIn:
            a.cv__link(href='https://www.linkedin.com/in/nikolay-liemiekhov-270520180/', target="_blank")  Nikolay Liemiekhov
              +icon("icon-linkedin", 12, 12).cv__link-icon
    .cv__section
      h2.cv__title Experience
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Front End Developer
          .cv__organization LigaA
        .cv__date 04/2020 - Present
      ul.cv__list
        li Convert Figma layouts to HTML pages and create JS functionality on vanilla JS.
    .cv__section
      h2.cv__title Education
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession React Developer
          .cv__organization HTML Academy
        .cv__date 09/28/2020 - 12/02/2020
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession JavaScript. Client Application Architecture
          .cv__organization HTML Academy
        .cv__date 10/18/2019 - 01/29/2020
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Frontend Developer
          .cv__organization HTML Academy
        .cv__date 01/21/2019 - 10/14/2019
      ul.cv__list
        li 100% defended 7 projects
        li Good foundation (HTML, CSS, SCSS, JavaScript)
        li Done JavaScript + OOP project using Service Workers
        li Done React project using Redux, Reselect and written tests in Jest and Enzym and also partially translated it to TypeScript
    .cv__section
      h2.cv__title Skills
      ul.cv__skills
        each it in skills
          li.cv__skill-item
            .cv__skill= it.skill
            .cv__skill-value
              +rating(it.rate)
    .cv__section
      h2.cv__title Certificates
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession React. Development of Complex Front-end Applications
        .cv__date 12/02/2020
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Professional JavaScript, level 2
        .cv__date 01/29/2020
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Profession “Front-end Developer”
        .cv__date 10/14/2019
    .cv__section
      h2.cv__title English level
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Elementary
        +rating(2, 9)
    .cv__section
      h2.cv__title Projects

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession NDA project
          .cv__organization
        .cv__date 2021 - 2021
      ol
        li
          p Real bank(NDA)
          ul
            li
              p features:
              ol
                li implemented custom features for chartist such as:
                  ul
                    li responsive sizes
                    li addition new elements to chart
                    li custom position label
                li imlementend custom sass functions
                li default object options

            li
              p technologies:
              p ResizeObserver, json, Fetch API, sass, pug, js, html, bem, gulp, webpack
            li
              p tools:
              p git, figma, pixelperfect
            li
              p team:
              p 1 qa, 2 frontend dev, 1 manager, 1 team leader

        li
          p Real estate company(NDA)
          ul
            li
              p features:
              ol
                li implemented custom features for nouslider
                li implemented custom sass functions
                li created High order functions
                li default object options

            li
              p technologies:
              p json, Fetch API, CustomEvent, sass, pug, js, html, bem, gulp, webpack
            li
              p tools:
              p git, figma, pixelperfect
            li
              p team:
              p 1 qa, 2 frontend dev, 1 manager, 1 team leader
