include ../../data/cv
mixin cv
  aside.cv&attributes(attributes)
    .cv__header
      .cv__img
        +picture("content", "my-photo", "jpg", 122, 122, "Фото")
      .cv__header-content
        .cv__header-inner
          h1.cv__name Mykola Liemiekhov
          .cv__post Front End Developer
        .cv__header-inner.cv__header-inner--last
          .cv__header-inner-item
            a.cv__link.cv__link--phone(href='tel:+380636536097') +380636536097
              +icon("icon-phone", 12, 12).cv__link-icon
          .cv__header-inner-item
            a.cv__link.cv__link--email(href='mailto:nicklemster@gmail.com') nicklemster@gmail.com
              +icon("icon-email", 12, 12).cv__link-icon
          .cv__header-inner-item
            .cv__address Cherkasy, Ukraine
              +icon("icon-pin", 12, 12).cv__link-icon
          .cv__header-inner-item
            //-p LinkedIn:
            a.cv__link(href='https://www.linkedin.com/in/nikolay-liemiekhov-270520180/', target="_blank")  Nikolay Liemiekhov
              +icon("icon-linkedin", 12, 12).cv__link-icon
    .cv__section
      h2.cv__title Experience
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Front End Developer
          .cv__organization LigaA
        .cv__date 04/2020 - Present
      ul.cv__list
        li 1 year of experience in performing Front End commercial tasks (Pug, SCSS, JavaScript)
        li Completed the HTML Academy React tutorial project successfully
    .cv__section
      h2.cv__title Education
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession React Developer
          .cv__organization HTML Academy
        .cv__date 09/28/2020 - 12/02/2020
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession JavaScript. Client Application Architecture
          .cv__organization HTML Academy
        .cv__date 10/18/2019 - 01/29/2020
      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Frontend Developer
          .cv__organization HTML Academy
        .cv__date 01/21/2019 - 10/14/2019
      ul.cv__list
        li 100% defended 7 projects
        li Good foundation (HTML, CSS, SCSS, JavaScript)
        li Done JavaScript + OOP project using Service Workers
        li Done React project using Redux, Reselect and written tests in Jest and Enzym and also partially translated it to TypeScript
    .cv__section
      h2.cv__title Skills
      ul.cv__skills
        each it in skills
          li.cv__skill-item
            .cv__skill= it.skill
            .cv__skill-value
              +rating(it.rate)
    .cv__section
      h2.cv__title Certificates
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession React. Development of Complex Front-end Applications
        .cv__date 12/02/2020
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Professional JavaScript, level 2
        .cv__date 01/29/2020
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Profession “Front-end Developer”
        .cv__date 10/14/2019
    .cv__section
      h2.cv__title English level
      .cv__profession-wrapper.cv__profession-wrapper--certificate
        .cv__profession Elementary
        +rating(2, 9)
    .cv__section
      h2.cv__title Projects

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Six cities
          .cv__organization HTML Academy interactive online course React. Development of complex Front-end Applications, flow 5
        .cv__date 09/2020 - 12/2020
      p In this project, the html (24 lines for the div.root tag) and css were already prepared and in the process of working on the project, it was only necessary to tweak the css a little. This online course used React, Redux, Reselect, Axios, Just, Enzyme. All criteria are met. The result is 100%.

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Big trip
          .cv__organization HTML Academy interactive online course Professional JavaScript, level 2, flow 10
        .cv__date 11/2019 - 01/2020
      p In this project, html (markup of containers in 39 lines) and css were already prepared and in the process of working on the project it was only necessary to edit them a little. This online course took an OOP approach. The page is rendered using js. For offline use of the page, a Service Worker was used. The following libraries were used: Chart, Flatpickr, Moment. All criteria are met. The result is 100%.

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Keksobooking
          .cv__organization HTML Academy interactive online course Professional JavaScript, level 1, flow 18
        .cv__date 09/2019 - 11/2019
      p In this project, html and css were already prepared and in the process of working on the project, it was only necessary to correct them a little. This online course used the basics of js. All criteria are met. The result is 100%.

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Kekstagram
          .cv__organization HTML Academy interactive online course Professional JavaScript, level 1, flow 18
        .cv__date 09/2019 - 11/2019
      p In this online course, this project was my secondary (second) one. I made it much faster, it took 1 week (I did cupbooking for 4 weeks). In Kextogram, I applied event delegation to photos downloaded from the server by adding an event listener to their parent. I also implemented the effects slider with input type = "range". This allowed the slider to fully reproduce the default behavior of input type = "range" with a mouse.

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Pognali
          .cv__organization HTML Academy interactive online course Professional HTML & CSS, level 2, flow 17 (adaptive)
        .cv__date 07/2019 - 09/2019
      p Pognali - this is my most difficult project. On the online course we were warned that the Mock-ups first appeared in the adaptive online course, no one did this project and it was considered the most difficult project. This project was done according to the FirstMobile principle. At first, only the mobile part of the layout was available to us. In this online course, we (students) set up automation using gulp. Used preprocessors. From sass and less, I chose sass. We used the BEM methodology and adaptive graphics. Collected svg sprites. Configured the loading of fonts.
      p In this online course, I was far behind the project schedule. At the end of the fifth week, I had only completed the tasks of the first week. I was not sure if I could finish the project at all. I was lucky that I did not work and spent all my time on the project. About 2 weeks before the end of the online course, my project was ready for defense and I sent it to a random reviewer. And when my project was 100% accepted (all criteria were met), it was a shock. But the auto shock passed until the evening. :)

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Device
          .cv__organization HTML Academy interactive online course Professional HTML & CSS, level 1, flow 25
        .cv__date 05/2019 - 07/2019
      p The Device is similar to Technomart, but it has not ordinary and ambiguous details as in Technomart. This project is considered one of the most challenging in this online course. Due to the partial similarity, I made it quickly. Of the 9 weeks of the online course, I spent four. All criteria are met. The result is 100%.

      .cv__profession-wrapper
        .cv__data-wrapper
          .cv__profession Device
          .cv__organization HTML Academy interactive online course Professional HTML & CSS, level 1, flow 24
        .cv__date 01/2019 - 03/2019
      p In this project, I paid considerable attention to the double price slider on the catalog page. It was interesting for me to implement the accessibility of this filter without a mouse, although this was not required in the task to the project. All criteria are met. The result is 100%.
