mixin rating(rating, maxRating)
  -
    maxRating = maxRating || 5
    var width = `${rating / maxRating * 100}%`
  .rating(class=maxRating === 9 && 'rating--9')
    span.rating__empty
    span.rating__fill(style=`width: ${width}`)
      span.rating__sub-fill
